
*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height:100%;
    width: 100%;
    color:white;
    /* font-size: 30px; */
    font-family: "Jost", sans-serif;
    background-color: black;
    flex-direction: column;
    user-select: none;
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100%;
    /* background-color: red; */
}
.loader iframe{
    transition: 3s;
    border: none;
    height:50%;
    width:50%;
}
.whole_contain{

    /* scale:1; */
    justify-content: center;
    /* align-items: center; */
    height:100%;
    width: 100%;
    transition: 2s;
    color:white;
    /* font-size: 30px; */
    font-family: "Jost", sans-serif;
    background-color: black;
    flex-direction: column;
    /* user-select: none; */   
}
#content{
    display: none;
    /* scale:1; */
}
/* span {
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
} */
 .nav-bar{
    display:flex;
    position:fixed;
    top:0px;
    height:70px;
    width:100%;
    background-color: transparent;
    /* border-top-style:solid ;
    border-top-color:transparent;
    border-top-width:10px ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px; */
    /* backdrop-filter: blur(2px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    align-items: center;
    /* border-radius: 50%; */
    backdrop-filter: blur(10px);
}
@keyframes topic-animation{
    0%{
        width:0;
        border-top-right-radius: 40%;
        border-bottom-right-radius: 40%;
        background-color: transparent;
    }
    50%{
        width:250px;
        border-top-right-radius: 20%;
        border-bottom-right-radius: 20%;
        background-color:  rgb(53, 248, 170);
    }
    100%{
        width:250px;
        border-top-right-radius: 0%;
        border-bottom-right-radius: 0%;
        background-color:transparent;
    }

}
.box{
    height:70px;
    width:350px;
    margin-left: 50px;
}
.topics{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height:100%;
    width: 70px;
    overflow: hidden;
    /* background:red; */
    margin-left: 50px;
 }
 .topics img{
    object-fit: cover;
    height:100%;
    width:100%;
    border-radius:50%;
 }
 .topics_animation_add{
    animation:topic-animation 1s linear;
    border-style: solid;
    border-left-width:10px;
    border-right-width:0px;
    border-top-width:0px;
    border-bottom-width:0px;
    border-color: white;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
 }
 @keyframes entrance {
    0%{
        width:0px;
        /* justify-content: left; */
    }
    100%{
        width:500px;
        /* justify-content: center; */
    }
 }
 .contents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background:linear-gradient(black,transparent);
    border-bottom-left-radius: 20px;
    gap:70px;
    width:500px;
    margin-left: 1020px;
    height:100%;
    animation:entrance 2s ease;
    transition: background-color 1s ease;
    overflow:hidden;
    border-style: solid;
    letter-spacing: 1px;
    border-right-width: 0px;
    border-left-width: 2px;
    border-color: rgb(53, 248, 170);
 }
 .contents_animation{
    background: linear-gradient(rgb(46, 44, 44),green);

 }
 .nav-bar span:hover{
    cursor: pointer;
 }
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(46, 44, 44);
    height:100vh;
    width:100%;
    gap:10px;
    background:radial-gradient(circle at -8.9% 51.2%, rgb(53, 248, 170) 0%, rgb(53, 248, 170) 15.9%, rgb(53, 248, 170) 15.9%, rgb(53, 248, 170) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
}
.contain{
    display:flex;
    flex-direction: row;
    gap:20px;
    /* background-color: blue; */
}
.contain1{
    margin-top: 100px;
    margin-left: 50px;
    height:500px;
    width:600px;
    color:black;
    /* backdrop-filter: blur(10px); */
    /* background-color: antiquewhite; */
}
.Hello{
    margin-top: 40px;
    /* margin-left: 100px; */
    font-size: 60px;
    font-weight: 700;
    /* backdrop-filter: blur(10px); */
}
.name{
    margin-top: 0px;
    /* margin-left: 100px; */

    width:500px;
    backdrop-filter: blur(10px);
    overflow:hidden;
    animation :special 1s;
    border-style: solid;
    border-left-width: 5px;
    border-left-color: black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* background-color: antiquewhite; */
}
@keyframes special{
    0%{
        width:0px;
        background-color: aqua;
    }
    50%{
        width:500px;
        background-color: white;
    }
    100%{
        width:500px;
        background-color: transparent;
    }
}
.name span{
    /* transition: all 1s;
    animation :special 1s; */
    /* font-family:   "Lexend", sans-serif; */
    /* background: black; */
    text-shadow: 0 0 5px rgb(0, 255, 89);
    color:black;
    font-size: 70px;
    font-weight: 700;
    /* -webkit-text-stroke: 2px green; */
}
.developer{
    /* margin-left: 100px; */
    /* background-color: yellow; */
    height:60px;
    width:600px;
    display: flex;
    align-items: center;
    /* backdrop-filter: blur(10px); */
}
.developer span{
    font-family: "Lexend", sans-serif;
    font-size: 50px;
    font-weight: 700;
    color:rgb(0, 255, 89);
    text-shadow: 0 0 5px black;
}
.about_me{
    /* margin-left:100px; */
    height:200px;
    width:600px;
    /* backdrop-filter: blur(10px); */
    /* background-color: yellow; */
}
.about_me span{
    /* backdrop-filter: blur(10px); */
    font-size: 20px;
    font-weight: 500;
}
@keyframes button{
    0%{
        width:0%;
        overflow: hidden;
    }
    100%{
        width:100%;
        overflow: hidden;
    }
}
.share{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:20px;
    width:100%;
    height:100px;
    overflow: hidden;
    /* background-color: aqua; */
    animation:button 3s;
}
.share_button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    border-radius: 10px;
    height:40px;
    width:fit-content;
    padding: 10px;
    /* width:fit-content; */
    border-color: white;
    color:rgb(0, 255, 89);
    box-shadow: 0 0 5px rgb(53, 248, 170);
    transition: 1s;
}
.share_button span{
    font-weight: 500;
    font-size: 20px;
}
.share_button i{
    font-weight: 500;
    font-size: 20px;
}
a{
    text-decoration: none;
    color:rgb(0, 255, 89);
}
a:visited{
    text-decoration: none;
    color:rgb(0, 255, 89);
}
.share_button:hover{
    color:white;
    background-color: black;
}
/* .icons{
    height:100%;
    width:50px;
    background-color: aquamarine;
} */

.contain2{
    display: flex;
    margin-top: 100px;
    height:500px;
    width:600px;

    /* background-color: yellow; */
}
.contain2 iframe{
    border:none;
    /* object-fit: cover; */
    width:100%;
    height:100%;
}
.contain2 img{
    object-fit: cover;
}
.container3{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    background-color: rgb(19, 30, 37);
    height:180vh;
    width:100%;
    gap:20px;
    /* flex-wrap: wrap; */
}
.box1{
    display: flex;
    align-items: center;
    margin-left: 100px;
    height:70px;
    width:350px;
    margin-top: 10px;
    background-color: rgb(14, 31, 22);
    border-style: solid;
    border-left-width:10px;
    border-right-width:1px;
    border-top-width:1px;
    border-bottom-width:1px;
    border-color: rgb(0, 255, 89);
    backdrop-filter: blur(10px);
    border-bottom-right-radius: 20px;
    /* border-top-right-radius: 50%;
    border-bottom-right-radius: 50%; */
    /* margin-left: 50px; */
}
.box1 span{
    margin-left: 20px;
    font-size: 40px;
    font-weight: 700;
}
.project_contain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* overflow-y: scroll;
    overflow-x: hidden; */
    height:600px;
    width:100%;
    /* background-color: green; */
    gap:50px;
}
.project{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border-radius: 20px; */
    height:500px;
    width:620px;
    gap:10px;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 255, 89);
    transition: 0.5s;
    /* background-color: black; */
    background-color: rgb(14, 31, 22);
    /* box-shadow: 1px 1px 2px #babecc,
    -1px -1px 2px #ffffff; */
    /* border-style:solid;
    border-width: 2px; */
    /* box-shadow: 0 0 5px rgb(0, 255, 89); */
    /* background-color: aqua; */
    /* backdrop-filter: blur(10px); */
    box-shadow: 2px 0px 0px 5px rgb(0, 255, 89);
}
.project:hover{
    border-color: rgb(53, 248, 170);
    box-shadow: 0 0 3px rgb(53, 248, 170);
    background-color: rgb(19, 49, 33);
}
.project_container1{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-style: solid; */
    /* border-left-width: 10px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height:60px;
    width:100%;

}
.project_container1 span{
    margin-left: 20px;
    font-size: 35px;
    font-weight: 700;
    text-shadow: 0 0 5px rgb(0, 255, 89);
}
.project_container2{
    display: flex;
    justify-content: center;
    align-items: center;
    height:250px;
    width:100%;
    gap:10px;
    /* background-color: green; */
}
.contain_left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width:25%;
    height:100%;
    /* background-color: red; */
}
.skill{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width:100%;
    height:180px;
    background-color: black;
    border-style:solid;
    border-left-width: 10px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: rgb(53, 248, 170);
    padding:5px;
}
.skill_with_contributer{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width:100%;
    height:180px;
    background-color: black;
    border-style:solid;
    border-left-width: 10px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: rgb(53, 248, 170);
    padding:5px;
}
.skill_topic{
    font-size: 19px;
    font-weight: 500;
    text-shadow: 0 0 2px rgb(53, 248, 170);
}
.skill li{
    /* background-color: antiquewhite; */
    margin-top: 10px;
    width:130px;
    font-size: 17px;
}
.skill_with_contributer li{
    /* background-color: antiquewhite; */
    margin-top: 10px;
    width:130px;
    font-size: 17px;
}
.contributer{
    background-color: rgb(3, 82, 21);
    border-style:solid;
    border-left-width: 10px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding:5px;
    border-color: rgb(53, 248, 170);
    /* background-color: black; */
    width:100%;
    height:50px;
}
.contributer span{
    color:rgb(53, 248, 170);
}
.contributer li{
    color:white;
    text-shadow: 0 0 2px rgb(53, 248, 170);
}
.image_contain{
    width:65%;
    height:100%;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(53, 248, 170);

}
.image_contain img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: 20px;
}
.project_container3{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
    width:90%;
    padding: 10px;
    border-style:solid;
    border-color: rgb(53, 248, 170);
    border-left-width: 10px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /* gap:10px; */
    background-color: black;
}
.project_container4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    height:50px;
    width:100%;
    /* gap:10px; */
    /* background-color: aqua */
}
.project_button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    border-radius: 10px;
    height:40px;
    width:fit-content;
    padding: 10px;
    /* width:fit-content; */
    border-color: white;
    /* color:rgb(0, 255, 89); */
    box-shadow: 0 0 5px rgb(53, 248, 170);
    transition: 1s;
    text-shadow: 0 0 4px rgb(53, 248, 170);
    cursor: pointer;
}
.project_button span{
    color:white;
    font-weight: 500;
    font-size: 20px;

}
.project_button a{
    color:white;
    font-weight: 500;
    font-size: 20px;
}
.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: rgb(0, 0, 0); */
    background-color: black;
    height:35vh;
    width:100%;
    gap:15px;
}
.languages_contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    width:700px;
    /* background-color: antiquewhite; */
}
.skills_topic{
    display:flex;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
    height:50px;
    width:100%;
}
.skills_topic span{
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0 0 4px rgb(53, 248, 170);
}
.languages{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: yellow; */
    height:190px;
    width: 100%;
}
.lang{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    height:100%;
    width:150px;
    /* background-color: green; */
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    width:50px;
    /* background-color: yellow; */
}
.icon i{
    /* height:100%;
    width:100%; */
    color:rgb(0, 255, 89);
    /* background-color: aquamarine; */
    font-size: 5em;
}
.icon-name{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    width:100%;
    /* background-color: red; */
}
.icon-name span{
    font-size: 25px;
    font-weight: 700;
}
.container4{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap:10px;
    background-color: rgb(0, 0, 0);
    height:100vh;
    width:100%;
    gap:100px;
}
.container4_left{
    display: flex;
    justify-content: center;
    align-items: center;
    height:90%;
    width:700px;
    /* background-color: aqua; */
}
.about_contact{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    /* margin-top: 150px; */
    height:200px;
    width:700px;
    /* background-color: yellow; */
}
.about_contact span{
    font-size: 50px;
    font-weight: 700;
    color:rgb(0, 255, 89);
}
.contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:500px;
    height:500px;
    /* background-color: red; */
    /* border-radius: 20px;
    border-style:solid;
    border-width: 1px;
    box-shadow: 0 0 10px aqua; */
}
.last-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100px;
    /* background-color: red; */
}
.last-content span{
    font-size: 25px;
}
.gmail{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap:10px;
    border-style:solid;
    border-width: 1px;
    box-shadow: 0 0 10px aqua;
    height:80px;
    width:300px;
    color:black;
    background-color: rgb(0, 255, 89);
}
.gmail i{
    font-size: 2em;
}
.gmail span{
    font-size: 20px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height:50px;
    width:100%;
    background-color: grey;
}
.footer span{
    margin-left: 5px;
    font-weight: 500;
    color:rgb(0, 255, 89)
}
#year{
    color:white;
    margin-right: 5px;
}
@media screen and (max-width:426px){
    
*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height:100%;
    width: 425px;
    color:white;
    /* font-size: 30px; */
    font-family: "Jost", sans-serif;
    background-color: black;
    flex-direction: column;
    user-select: none;
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100%;
    /* background-color: red; */
}
.loader iframe{
    transition: 3s;
    border: none;
    height:50%;
    width:50%;
}
.whole_contain{
    /* scale:1; */
    justify-content: center;
    /* align-items: center; */
    height:100%;
    width: 425px;
    transition: 2s;
    color:white;
    /* font-size: 30px; */
    font-family: "Jost", sans-serif;
    background-color: black;
    flex-direction: column;
    /* user-select: none; */   
}
#content{
    display: none;
    /* scale:1; */
}
/* span {
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
} */
 .nav-bar{
    display:flex;
    position:fixed;
    z-index: 10;
    top:0px;
    height:70px;
    width:425px;
    /* background-color: red; */
    /* border-top-style:solid ;
    border-top-color:transparent;
    border-top-width:10px ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px; */
    /* backdrop-filter: blur(2px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    align-items: center;
    /* border-radius: 50%; */
    backdrop-filter: blur(10px);
}
@keyframes topic-animation{
    0%{
        width:0;
        border-top-right-radius: 40%;
        border-bottom-right-radius: 40%;
        background-color: transparent;
    }
    50%{
        width:250px;
        border-top-right-radius: 20%;
        border-bottom-right-radius: 20%;
        background-color:  rgb(53, 248, 170);
    }
    100%{
        width:250px;
        border-top-right-radius: 0%;
        border-bottom-right-radius: 0%;
        background-color:transparent;
    }

}
.box{
    height:70px;
    width:350px;
    margin-left: 50px;
}
.topics{
    display: none;
    /* justify-content: center; */
    /* align-items: center; */
    height:100%;
    width: 70px;
    overflow: hidden;
    /* background:red; */
    margin-left: 0px;
 }
 .topics img{
    object-fit: cover;
    height:100%;
    width:100%;
    border-radius:50%;
 }
 .topics_animation_add{
    animation:topic-animation 1s linear;
    border-style: solid;
    border-left-width:10px;
    border-right-width:0px;
    border-top-width:0px;
    border-bottom-width:0px;
    border-color: white;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
 }
 @keyframes entrance {
    0%{
        height:0%;
        /* justify-content: left; */
    }
    100%{
        height:100%;
        /* justify-content: center; */
    }
 }
 .contents{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; */
    background:linear-gradient(black,transparent);
    border-bottom-left-radius: 20px;
    gap:0px;
    width:425px;
    margin-left:0px;
    height:100%;
    /* animation:entrance 2s ease; */
    transition: background-color 1s ease;
    overflow:scroll;
    border-style: solid;
    letter-spacing: 1px;
    border-right-width: 0px;
    border-left-width: 2px;
    border-color: rgb(53, 248, 170);
 }
 .contents_animation{
    background: linear-gradient(rgb(46, 44, 44),green);

 }
 .nav-bar span:hover{
    cursor: pointer;
 }
.container1{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    /* background-color: rgb(46, 44, 44); */
    height:100vh;
    width:425px;
    gap:10px;
    background: rgb(28, 54, 71);
    /* background:radial-gradient(circle at -8.9% 51.2%, rgb(53, 248, 170) 0%, rgb(53, 248, 170) 15.9%, rgb(53, 248, 170) 15.9%, rgb(53, 248, 170) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%); */
}
.contain{
    display:flex;
    flex-direction: column;
    gap:20px;
    width:425px;
    /* background-color: blue; */
}
.contain1{
    margin-top: 0px;
    margin-left: 0px;
    height:fit-content;
    width:425px;
    color:black;
    /* text-shadow: 0 0 2px green; */
    /* backdrop-filter: blur(10px); */
    /* background-color: antiquewhite; */
}
.Hello{
    margin-top: 0px;
    /* margin-left: 100px; */
    font-size: 50px;
    font-weight: 700;
    /* backdrop-filter: blur(10px); */
}
.name{
    margin-top: 0px;
    /* margin-left: 100px; */
    /* z-index: -5; */
    width:425px;
    backdrop-filter: blur(10px);
    overflow:hidden;
    animation :special 1s;
    border-style: solid;
    border-left-width: 5px;
    border-left-color: black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* background-color: red; */
}
@keyframes special{
    0%{
        width:0px;
        background-color: aqua;
    }
    50%{
        width:425px;
        background-color: white;
    }
    100%{
        width:425px;
        background-color: transparent;
    }
}
.name span{
    /* transition: all 1s;
    animation :special 1s; */
    /* font-family:   "Lexend", sans-serif; */
    /* background: black; */
    /* z-index: -5; */
    text-shadow: 0 0 5px rgb(0, 255, 89);
    color:black;
    font-size: 60px;
    font-weight: 700;

    /* -webkit-text-stroke: 2px green; */
}
.developer{
    /* margin-left: 100px; */
    /* background-color: yellow; */
    height:60px;
    width:425px;
    display: flex;
    align-items: center;
    /* backdrop-filter: blur(10px); */
}
.developer span{
    font-family: "Lexend", sans-serif;
    font-size: 40px;
    font-weight: 700;
    color:rgb(0, 255, 89);
    text-shadow: 0 0 5px black;
}
.about_me{
    /* margin-left:100px; */
    height:260px;
    width:425px;
    /* backdrop-filter: blur(10px); */
    /* background-color: yellow; */
    padding: 10px;
}
.about_me span{
    /* backdrop-filter: blur(10px); */
    font-size: 21px;
    font-weight: 500;
}
@keyframes button{
    0%{
        width:0%;
        overflow: hidden;
    }
    100%{
        width:100%;
        overflow: hidden;
    }
}
.share{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:10px;
    width:100%;
    height:150px;
    flex-wrap: wrap;
    overflow: hidden;
    /* background-color: aqua; */
    animation:none;
}
.share_button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    border-radius: 10px;
    height:40px;
    width:fit-content;
    padding: 10px;
    /* width:fit-content; */
    border-color: white;
    color:rgb(0, 255, 89);
    box-shadow: 0 0 5px rgb(53, 248, 170);
    transition: 1s;
}
.share_button span{
    font-weight: 500;
    font-size: 20px;
}
.share_button i{
    font-weight: 500;
    font-size: 20px;
}
a{
    text-decoration: none;
    color:rgb(0, 255, 89);
}
a:visited{
    text-decoration: none;
    color:rgb(0, 255, 89);
}
.share_button:hover{
    color:white;
    background-color: black;
}
/* .icons{
    height:100%;
    width:50px;
    background-color: aquamarine;
} */

.contain2{
    display: none;
    margin-top: 100px;
    height:500px;
    width:425px;

    background-color: yellow;
}
.contain2 iframe{
    border:none;
    /* object-fit: cover; */
    width:100%;
    height:100%;
}
.contain2 img{
    object-fit: cover;
}
.container3{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    background-color:  rgb(28, 54, 71);
    height:220vh;
    width:100%;
    gap:20px;
    /* flex-wrap: wrap; */
}
.box1{
    display: flex;
    align-items: center;
    margin-left: 0px;
    height:70px;
    width:350px;
    margin-top: 10px;
    background-color: rgb(14, 31, 22);
    border-style: solid;
    border-left-width:10px;
    border-right-width:1px;
    border-top-width:1px;
    border-bottom-width:1px;
    border-color: rgb(0, 255, 89);
    backdrop-filter: blur(10px);
    border-bottom-right-radius: 20px;
    /* border-top-right-radius: 50%;
    border-bottom-right-radius: 50%; */
    /* margin-left: 50px; */
}
.box1 span{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 700;
}
.project_contain{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    /* overflow-y: scroll;
    overflow-x: hidden; */
    height:65%;
    width:100%;
    /* background-color: green; */
    gap:30px;
}
.project{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border-radius: 20px; */
    height:550px;
    width:410px;
    gap:10px;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 255, 89);
    transition: 0.5s;
    /* background-color: black; */
    background-color: rgb(14, 31, 22);
    /* box-shadow: 1px 1px 2px #babecc,
    -1px -1px 2px #ffffff; */
    /* border-style:solid;
    border-width: 2px; */
    /* box-shadow: 0 0 5px rgb(0, 255, 89); */
    /* background-color: aqua; */
    /* backdrop-filter: blur(10px); */
    box-shadow: 2px 0px 0px 2px rgb(0, 255, 89);
}
.project:hover{
    border-color: rgb(53, 248, 170);
    box-shadow: 0 0 3px rgb(53, 248, 170);
    background-color: rgb(19, 49, 33);
}
.project_container1{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-style: solid; */
    /* border-left-width: 10px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height:80px;
    width:100%;
    /* background-color: red; */

}
.project_container1 span{
    text-align: center;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0 0 5px rgb(0, 255, 89);
}
.project_container2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    height:250px;
    width:100%;
    gap:10px;
    /* background-color: green; */
}
.contain_left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    width:100%;
    height:100%;
    /* background-color: red; */
}
.skill{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
    width:90%;
    height:80px;
    background-color: black;
    border-style:solid;
    border-left-width: 10px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: rgb(53, 248, 170);
    padding:5px;
}
.skill_with_contributer{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
    width:90%;
    height:80px;
    background-color: black;
    border-style:solid;
    border-left-width: 10px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: rgb(53, 248, 170);
    padding:5px;
}
.skill_topic{
    font-size: 17px;
    font-weight: 500;
    text-shadow: 0 0 2px rgb(53, 248, 170);
}
.skill li{
    /* background-color: antiquewhite; */
    margin-top: 10px;
    width:130px;
    font-size: 17px;
}
.skill_with_contributer li{
    /* padding-left: 10px; */
    /* background-color: antiquewhite; */
    margin-top: 10px;
    width:100px;
    font-size: 17px;
}
.contributer{
    display: none;
    background-color: rgb(3, 82, 21);
    border-style:solid;
    border-left-width: 10px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding:5px;
    border-color: rgb(53, 248, 170);
    /* background-color: black; */
    width:30%;
    height:90px;
}
.contributer span{
    color:rgb(53, 248, 170);
}
.contributer li{
    color:white;
    text-shadow: 0 0 2px rgb(53, 248, 170);
}
.image_contain{
    width:65%;
    height:100%;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(53, 248, 170);

}
.image_contain img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: 20px;
}
.project_container3{
    display: flex;
    justify-content: center;
    align-items: center;
    height:120px;
    width:90%;
    padding: 10px;
    border-style:solid;
    border-color: rgb(53, 248, 170);
    border-left-width: 10px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /* gap:10px; */
    background-color: black;
    /* background-color: yellow; */
}
.project_container4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    height:50px;
    width:100%;
    /* gap:10px; */
    /* background-color: aqua */
}
.project_button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    border-radius: 10px;
    height:40px;
    width:fit-content;
    padding: 10px;
    /* width:fit-content; */
    border-color: white;
    /* color:rgb(0, 255, 89); */
    box-shadow: 0 0 5px rgb(53, 248, 170);
    transition: 1s;
    text-shadow: 0 0 4px rgb(53, 248, 170);
    cursor: pointer;
}
.project_button span{
    color:white;
    font-weight: 500;
    font-size: 20px;

}
.project_button a{
    color:white;
    font-weight: 500;
    font-size: 20px;
}
.container2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* background-color: rgb(0, 0, 0); */
    background-color: black;
    height:80vh;
    width:100%;
    gap:0px;
}
.languages_contain1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height:440px;
    width:425px;
    /* background-color: antiquewhite; */
}
.languages_contain2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height:240px;
    width:425px;
    /* background-color: yellow; */
}
.skills_topic{
    display:flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: green; */
    height:50px;
    width:80%;
}
.skills_topic{
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0 0 4px rgb(53, 248, 170);
}
.languages{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* overflow: hidden; */
    /* background-color:blue ; */
    height:190px;
    width: 100%;
}
.lang{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    height:100%;
    width:150px;
    /* background-color: green; */
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    width:50px;
    /* background-color: yellow; */
}
.icon i{
    /* height:100%;
    width:100%; */
    color:rgb(0, 255, 89);
    /* background-color: aquamarine; */
    font-size: 5em;
}
.icon-name{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    width:100%;
    /* background-color: red; */
}
.icon-name span{
    font-size: 25px;
    font-weight: 700;
}
.container4{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    /* gap:10px; */
    background-color: rgb(0, 0, 0);
    height:80vh;
    width:100%;
    gap:0px;
}
.container4_left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:250px;
    width:425px;
    /* background-color: aqua; */
}
.about_contact{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    /* margin-top: 150px; */
    height:100%;
    width: 425px;
    /* background-color: yellow; */
}
.about_contact span{
    font-size: 40px;
    font-weight: 700;
    color:rgb(0, 255, 89);
}
.contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:425px;
    height:300px;
    /* background-color: red; */
    /* border-radius: 20px;
    border-style:solid;
    border-width: 1px;
    box-shadow: 0 0 10px aqua; */
}
.last-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100px;
    /* background-color: red; */
}
.last-content span{
    font-size: 25px;
}
.gmail{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap:10px;
    border-style:solid;
    border-width: 1px;
    box-shadow: 0 0 10px aqua;
    height:80px;
    width:300px;
    color:black;
    background-color: rgb(0, 255, 89);
}
.gmail i{
    font-size: 2em;
}
.gmail span{
    font-size: 20px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height:50px;
    width:100%;
    background-color: grey;
}
.footer span{
    margin-left: 5px;
    font-weight: 500;
    color:rgb(0, 255, 89)
}
#year{
    color:white;
    margin-right: 5px;
}
}